.layout {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
    
.display {
    --transparency: 65%;
    background-color: color-mix(in srgb, var(--component-color), transparent var(--transparency));
    border-radius: 20px;
    height: 100%;
    width: 100%;
}