.layout {
    height: 100vh;
    max-width: 100px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    background-color: color-mix(in srgb, var(--component-color), transparent 65%);
    border-radius: 20px;
    height: 90%;
    width: 90%;
}