.layout {
  composes: layout from "./shared/shared.module.css";
  max-width: 400px;
}

.display {
  composes: display from "./shared/shared.module.css";
}

.insideLayout {
  composes: layout;
  color: #cac1ff;
  display: flex;
}

.input-group {
    
}
