.topBar {
  composes: layout from "./shared/shared.module.css";
  background-color: #4b4b4b75;
  height: 70px;
  width: 100vw;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 40px;
}

.locationInput {
  max-width: 500px;
  width: 100%;
  margin-left: 10px;
}

.fallbackMessage {
  font-weight: bold;
  color: #ff7c7c;
}
