.layout {
    composes: layout from "./shared/shared.module.css";
    max-width: 70%;
    align-items: top;
    gap: 10px;
}

.display {
    composes: display from "./shared/shared.module.css";
    width: 100%;
}

.graphDisplay {
    --transparency: 80%;
    height: 200%;
}