.display {
    composes: display from "./shared/shared.module.css";
    width: auto;
    max-height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    --color: black  
}