.weatherIconBlock {
  display: block;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.icon {
  display: block;
  box-sizing: border-box;
  font-size: 100px;
  margin: 0px;
  line-height: 0;
}

.weatherIconBlock p {
  font-size: 20px;
  font-weight: bold;
}
