.display {
    composes: display from "./shared/shared.module.css";
    width: auto;
    max-height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    color: black;
    box-shadow: 5px 5px 10px 1px rgb(0, 0, 0);
}