html {
   overflow-y: hidden;
   overflow-x: hidden;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  width: 100%;
  margin: 0;
  background-repeat: none;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

h2 {
  font-size: 40px;
}

h1 {
  font-size: 60px;
}

p {
  font-size: 20px;
}

.layout {
  width: 100dvw;
  height: 100dvh;
  margin: 0px;
  overflow-x: auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  overflow: hidden;
}

.country-name {
  margin-bottom: 50px;
}

.current-temp {
  font-size: 100px;
  font-weight: bold;
}

.current-weather-code-display {
  display: flex;
  flex-direction: row;
}

.celcius {
  font-size: 35px;
  vertical-align: center;
  padding-top: 18px;
}

/* hourly */

.time, .temperature, .weatherCode {
  color: rgb(28, 28, 55);
  text-align: center;
}

.time {
  font-size: 19px;
}

.temperature {
  font-weight: bold;
}
