html {
  --component-color: #6f60ab;
   overflow-y: hidden;
}

body {
  background:
    url("noise.png"),
    linear-gradient(to bottom, #443d71 0%, #443a66 15%, #22254b 100%);
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  width: 100%;
  margin: 0;
  background-repeat: none;
  background-size: cover;
  background-attachment: fixed;
}

.layout {
  width: 100dvw;
  height: 100dvh;
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
  overflow-x: auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
